{% extends 'template.html' %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/top-10.css')}}">
{% endblock %}

{% block conteudo%}
<div class="container div-resumo">
    <div class="row justify-content-center">
        <h3 class="titulo-resumo">Top 10 - Marcadores</h3>
    </div>
    <div class="row">
        <div class="col-6">
            <ul class="chart coluna1">
                {% for item in top10 %}
                    {% if loop.index <=5 %}
                        <li>{{top10[item]}} Ocorrências <strong>{{item}}</strong></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="col-6">
            <ul class="chart coluna2">
                {% for item in top10 %}
                    {% if loop.index > 5 %}
                        <li>{{top10[item]}} Ocorrências <strong>{{item}}</strong></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}